
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12;
  margin: 0;
  padding: 0;
}

input, select {
  padding: 5px;
}
select {
  color: gray;
}

.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}

.m-auto {
  margin: auto !important;
}

.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}

.bg-white {
  background-color: white;
}
.bg-gray {
  background-color: gray;
}
.bg-black {
  background-color: black;
}

.white {
  color: white;
}
.gray {
  color: gray;
}
.black {
  color: black;
}
